<html>

<head>
    <title>Anton McConville - Digital Designer and Developer</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ BASE_PATH }}/style/main.css">


</head>

<body class="hickory">
    <div class="top">

        <div class="bar">
            <a href="{{ BASE_PATH }}/index.html">
                <div class="title">
                    <div class="name">Anton McConville</div>
                    <div class="description">Digital Designer and Developer</div>

                </div>
            </a>
            <div class="navigation">
                <a class="deselected" href="{{ BASE_PATH }}/index.html">projects</a>
                <a class="selected" href="{{ BASE_PATH }}/blog.html">posts</a>
                <a class="deselected end" href="{{ BASE_PATH }}/about.html">about</a>
            </div>
        </div>
    </div>
    <div class="site">

        <section class="wrapper" tabindex="-1">
            <span><h3 class="blogtitle">{{page.title}}</h3></span>
            <p class="metadata">Posted on {{ page.date | date_to_long_string }}</p>
            <div class="post-content">
                {{ content }}
            </div>
            <!-- a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=antonm" target="_blank">
  Share</a -->
        </section>
    </div>

</body>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2417759-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<script>
    ! function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>

</html>